<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>datxanhmienbac,vn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA97ABEF1CA4D877005DE8EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA97AC031CA4D878005DE8EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA97AC0E1CA4D878005DE8EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
